{% load static %}
<!-- jQuery -->
<script src="{% static 'jquery/jquery.min.js' %}"></script>

<!-- DataTables  & Plugins -->
<script src="{% static 'datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'jszip/jszip.min.js' %}"></script>
<script src="{% static 'pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'datatables-buttons/js/buttons.print.min.js' %}"></script>

<!-- AdminLTE App -->
<script src="{% static 'js/adminlte.js' %}"></script>
<!-- Toast -->
<script src="{% static 'js/jquery.toast.js' %}"></script>
<!-- ChartJS -->
<script src="{% static 'chart.js/Chart.min.js' %}"></script>

<script src="{% static 'js/modal-status.js' %}"></script>
<!-- Boton mostrar y ocultar contraseña -->
<script>
    function mostrar(){
            document.getElementById('password').form.password = 'block';
    }
</script>


{% block javascript %}
      
{% endblock javascript %}