{% extends 'partials/body-login.html' %}
{% load static %}
<!-- cargar la libreria de boostrap-->
{% load bootstrap5 %}
<!-- cargar el css y javascript de bootstrap-->
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block cuerpo %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<header>
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(200, 228, 249);">
      
        <div class="container-fluid">
            <a class="navbar-brand m-lg-3" href="https://fundacionunlugar.com/"><img src="{% static 'img/logocabeza.jpg' %}" alt=""></a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-lg-2 mx-auto">
                     
                     </div>
                     </div>
                     </div>
                     </div>
                     </li>             

                </ul>
            </div>                       
    </nav>
    
</header> 
<div id="content" class="container-fluid m-5 p-lg-5 text-center">

    <h2  style="color: #008;" class="m-3">Escriba la Nueva Contraseña</h2>

    <p style="color: #008;" class="m-3">Para verificar, introduzca la misma contraseña anterior.</p>

    <form method="post">
        {% csrf_token %}
        <!-- <input class=""
            autocomplete="user.username"
            > -->
        <div class="form-row field-password1">
            <label style="color: #008;" for="id_new_password1">Contraseña
                nueva</label>
            <br>
            <input type="password"
                name="new_password1"
                autocomplete="new-password"
                required="" id="id_new_password1"
                aria-autocomplete="list">
        </div>
        <br>
        <div class="form-row field-password2">
            <label style="color: #008;" for="id_new_password2"> Confirme la 
                contraseña</label>
            <br>
            <input type="password"
                name="new_password2"
                autocomplete="new-password"
                required="" id="id_new_password2">
        </div>
        <br>
        <input class="btn btn-success" type="submit"
            value="Cambiar mi contraseña">
    </form>

    <br class="clear">
</div>
{% include 'partials/footer.html' %} 
{% endblock cuerpo %}
    