{% extends 'partials/body-login.html' %}
{% load static %}

<!-- cargar la libreria de boostrap-->
{% load bootstrap5 %}
<!-- cargar el css y javascript de bootstrap-->
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block cuerpo %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<header>
    
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(200, 228, 249);">
      
        <div class="container-fluid">
            <a class="navbar-brand m-lg-3" href="https://fundacionunlugar.com/"><img src="{% static 'img/logocabeza.jpg' %}" alt=""></a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-lg-2 mx-auto">
                     
                     </div>
                     </div>
                     </div>
                     </div>
                     </li>             

                </ul>
            </div>                       
    </nav>
    
</header> 
        

<!-- Aqui termina el header-->

<form method="post" class="container-fluid m-5 p-lg-5 text-center">
    {% csrf_token %}
    <div class="form-row field-email">
        <h2 style="color: #008;"  class="login-box-msg ">Restablecimiento de Contraseña</h2>
        <h5 style="color: #008;"  class="login-box-msg m-4">
            Ingrese el correo electrónico que utilizo para registrarse.</h5>

        <label style="color: #008;"  for="id_email">Correo electrónico</label>
        <br>
        <input class="w-25 mt-2 mb-2" type="email"
            name="email"
            autocomplete="email" maxlength="254"
            required="" id="id_email">
        </div>
        <input class="btn btn-success" type="submit"
            value="Restablecer mi contraseña">
        <a class="btn btn-secondary" href="{% url 'logout' %}">Volver</a>

    </form>
    {% include 'partials/footer.html' %} 
{% endblock cuerpo %}
    

